:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  margin: 0;
}

#timeline {
  width: 100%;
}

.title-container,
footer {
  width: 100%;
  text-align: center;
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a,
a:visited,
a:active {
  color: b32134;
}
